.how-section{
    margin: 12rem 0px;
}

.divider{
    width: 7.2rem;
    height: 2px;
    background: #535353;
    margin: 0 auto; 
}

.how-title{
    font-weight: bold;
    font-size: 4.8rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0px;
}

.steps-container {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    margin: 0 auto;
    justify-content: space-evenly;
}