html {
  font-size: 62.5%;
  color: #363636;
}

body {
  font-family: "Asap", sans-serif;
  margin: 0;
  padding: 0;
}

.button {
  height: fit-content;
  border-radius: 0.5rem;
  background: #2dbdbd;
  color: #fff;
  padding: 1.2rem 2.4rem;
  border: none;
  font-weight: bolder;
  text-transform: uppercase;
}

.secondary-button {
  height: fit-content;
  border-radius: 0.5rem;
  background: #fff;
  color: #1b9595;
  padding: 1.2rem 2.4rem;
  border: 1px solid #2dbdbd;
  font-weight: bolder;
  text-transform: uppercase;
}
