.cta-grid{
    display: grid;
    grid-template-columns: 40% 1fr;
    margin-top: 10rem;
    margin-bottom: 20rem;
}

.cta-text{
    margin-top: 20rem;
    padding-left: 20rem;
}

.cta-text h3{
    font-size: 4.2rem;
}

.healthy-person img{
    max-width: 70%;
    margin-left: 8rem;
}