.step-item{
    width: 100%;
    max-width: 380px;
    height: 40rem;
    border: 1px solid  #36dfcc;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step-item h4{
    font-size: 2.1rem;
    text-align: center;
    color: #008081;
}

.step-item i{
    font-size: 14rem;
    color: #008081;
}

.step-item .description {
    font-size: 1.6rem;
    padding: 0px 3.2rem;
}